
$color-white: #fff;
$color-pink: #F5C6CE;
$color-lightGrey: #F7F3EC;
$color-darkGrey: #777;
$color-nearBlack: #222;
$color-black: #000;


$imgShadow: 10px 10px 40px rgba(0, 0, 0, 0.3);


$cornerRadius: 4px;
